@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
   
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .animate {
    animation: moveUpDown 2.5s infinite alternate-reverse;
}
  @keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.gradient-text {
  background: linear-gradient(to right, rgb(255, 105, 180), rgb(0, 128, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animate-scale {
  
  /* animation: moveScale 4.5s infinite alternate-reverse; */
}
.bgrappe::before{
  content: '';
  background-image: url("./assets/footer-1.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 350px;
  height: 150px;
  right: 70px;
  width: 100px;
}
.bgrappe::after{
  content: '';
  background-image: url("./assets/footer-2.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 70px;
  left: 50px;
  height: 150px;
  width: 100px;
}
@keyframes moveScale {
  0% {
    scale: 0.97;
  }
  25% {
    transform: skewY(2deg);
}
  50% {
      scale: 1.1;
  }
 
  100% {
    scale: 0.97;
  }
}
@keyframes wave-animation {
  0% {
      transform: translateX(0) translateY(0);
  }
  50% {
      transform: translateX(-50%) translateY(-20px);
  }
  100% {
      transform: translateX(-100%) translateY(0);
  }
}